@use "./partials/variables" as *;
@use "./partials/mixin" as *;
@use "./partials/fonts" as *;

* {
  @include box-sizing;
  @include typography;
}

body {
  @include body;
}

a {
  text-decoration: none;
}

.nav {
  background-color: $primary-color1;
  width: 100%;
  padding-top: 1rem;
  max-width: 100vw;

  @include tablet {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.8rem;
  }

  @include desktop {
    padding-left: 7.9rem;
    padding-top: 1.4rem;
  }

  &__logo-link {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1.2rem;

    @include tablet {
      width: 30%;
      margin-bottom: 1rem;
    }

    @include desktop {
      width: 10%;
      margin-bottom: 1.5rem;
    }
  }

  &__logo-image {
    width: 100%;
  }

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;

    @include tablet {
      width: 30%;
    }

    @include desktop {
      justify-content: center;
      width: 23%;
    }
  }

  &__list-link {
    color: $secondary-color2;
    font-size: 0.8rem;
    font-weight: 400;
    width: 100%;
    height: 100%;

    @include tablet {
      font-size: 0.9rem;
    }
  }

  &__list-link:hover {
    color: $primary-color3;
    width: 50%;
  }

  &__list-item {
    width: 50%;
    text-align: center;

    @include tablet {
      padding-bottom: 1rem;
      width: 30%;
    }

    @include desktop {
      padding-bottom: 1.5rem;
    }
  }

  &__list-item--highlight,
  &__list-item:hover {
    border-bottom: #fff 0.2rem solid;
  }

  &__list-link--highlight {
    color: $primary-color3;
    font-size: 0.8rem;
    font-weight: 600;

    @include tablet {
      font-size: 0.9rem;
    }

    @include desktop {
      padding-right: 1rem;
    }
  }
}

.hero {
  @include hero;

  @include tablet {
    height: 28.1rem;
    padding-left: 2.5rem;
  }

  @include desktop {
    height: 39.5rem;
    padding-left: 7.9rem;
  }

  &__title {
    color: $primary-color3;
    font-size: 1.5rem;
    line-height: 32px;
    font-weight: 600;

    @include tablet {
      font-size: 3.5rem;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  max-width: 100vw;
  color: $primary-color1;

  @include tablet {
    padding: 2.5rem;
    gap: 2rem;
  }

  @include desktop {
    padding-left: 7.9rem;
    padding-right: 7.9rem;
  }

  &__box {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 0.5rem;

    @include tablet {
      font-size: 2.2rem;
      padding-bottom: 1.9rem;
    }
  }

  &__image {
    width: 100%;

    @include tablet {
      width: 85%;
      height: 19rem;
      object-fit: cover;
    }

    @include desktop {
      height: 28.2rem;
      width: 75%;
      margin-right: 5.5rem;
    }
  }

  &__container {
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }

  &__quote,
  &__author {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 600;
    padding-top: 0.4rem;

    @include tablet {
      margin-left: 4.2rem;
      margin-right: 4.2rem;
      font-size: 1.3rem;
      line-height: 2rem;
    }

    @include desktop {
      margin-left: 5.2rem;
      margin-right: 20.5rem;
      padding-top: 1.2rem;
      line-height: 1.8rem;
    }
  }

  &__author {
    padding-top: 0.2rem;

    @include tablet {
      font-size: 1rem;
      align-self: flex-start;
      line-height: 0.3rem;
    }

    @include desktop {
      padding-top: 0.5rem;
    }
  }
}

.info {
  @include tablet {
    padding-bottom: 0;
  }

  @include desktop {
    margin-left: 3rem;
    margin-right: 7rem;
    padding-right: 0;
  }
  &__title {
    font-size: 0.8rem;
    font-weight: 600;
    padding-top: 0.5rem;

    @include tablet {
      font-size: 1.5rem;
      padding-bottom: 1rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }

  &__story {
    @include tablet {
      display: flex;
      flex-direction: row;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      padding-bottom: 0;
    }

    @include desktop {
      margin: 0;
      justify-content: space-evenly;
    }
  }

  &__paragraph-1,
  &__paragraph-2 {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2rem;
    padding-top: 0.4rem;

    @include tablet {
      font-size: 0.9rem;
      line-height: 1.5rem;
    }

    @include desktop {
      line-height: 1.4rem;
      font-size: 0.9rem;
    }
  }

  &__paragraph-1 {
    padding-bottom: 0.4rem;
    @include tablet {
      padding-bottom: 0;
    }
  }

  &__paragraph-2 {
    @include tablet {
      padding-left: 1rem;
    }
  }
}

.gallery {
  @include gallery;

  @include tablet {
    padding-left: 2.5rem;
    padding-top: 1rem;
  }

  @include desktop {
    padding-left: 7.9rem;
    padding-right: 7.9rem;
    padding-bottom: 0;
  }

  &__container {
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 1.5rem;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 0.5rem;

    @include tablet {
      font-size: 2.2rem;
      padding-top: 2rem;
      padding-bottom: 1.5rem;
    }
    @include desktop {
      margin-left: 0.5rem;
      padding-bottom: 2.3rem;
    }
  }
  &__image {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    width: 100%;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;

    @include tablet {
      width: 30%;
      margin: 0.5rem;
    }
    @include desktop {
      width: 31%;
    }

    &:hover {
      filter: grayscale(0%);
    }
  }
}

.comments {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  color: $primary-color1;

  &__title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 0.5rem;
  }

  &__box {
    display: flex;
  }

  &__avatar {
    flex: 1;
    padding-top: 2rem;
  }

  &__image {
    width: 36px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex: 3;
  }

  &__label {
    color: $primary-color2;
    font-size: 0.6rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__text {
    background-color: $secondary-color3;
    border: solid $secondary-color2;
    border-radius: 5px;
    padding: 0.5rem;
  }

  &__text--active {
    background-color: $secondary-color3;
    border: solid $primary-color1;
    border-radius: 5px;
    padding: 0.5rem;
  }

  &__text--error {
    background-color: $secondary-color3;
    border: solid red;
    border-radius: 5px;
    padding: 0.5rem;
  }

  &__btn {
    background-color: $primary-color1;
    color: $primary-color3;
    width: 100%;
    height: 2.3rem;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-style: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

::placeholder {
  color: $primary-color1;
}

.opinions {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  line-height: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &__list {
    list-style: none;
  }

  &__item {
    border-top: 1px solid $secondary-color2;
  }

  &__box {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
  }

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5rem;
  }

  &__avatar {
    flex: 1;
  }

  &__image {
    width: 36px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
    background-color: $secondary-color2;
  }

  &__image--indefined {
    background-color: $secondary-color2;
  }

  &__info {
    flex: 4;
  }

  &__name {
    font-weight: 600;
  }

  &__date {
    font-weight: 400;
  }

  &__text {
    font-weight: 400;
    line-height: 1.1rem;
    padding-bottom: 0.5rem;
  }
}

.footer {
  @include footer;

  @include tablet {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 3rem;
    flex-direction: column;
    flex-wrap: wrap;
  }

  @include desktop {
    padding-left: 7.9rem;
    padding-right: 7.9rem;
  }

  &__container {
    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      gap: 1rem;
    }
  }

  &__logo {
    display: none;
    @include tablet {
      display: flex;
      justify-self: flex-end;
      margin-left: auto;
    }

    @include desktop {
      margin-left: 34rem;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 1rem;
    @include tablet {
      font-size: 2.1rem;
    }
  }

  &__logos {
    display: flex;
    gap: 1.8rem;
    padding-bottom: 0.6rem;
  }

  &__icons {
    height: 22px;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include tablet {
      flex-direction: row;
      gap: 1.3rem;
      padding-top: 1.5rem;
    }
  }

  &__person {
    font-weight: 400;
    font-size: 0.8rem;
    @include tablet {
      font-size: 0.9rem;
    }
  }

  &__person-name {
    font-weight: 600;
    line-height: 0.2rem;
    @include tablet {
      line-height: 0.4rem;
    }
  }

  &__person-company {
    font-weight: 600;
    @include tablet {
      padding-bottom: 0.5rem;
    }
  }

  &__info-1 {
    padding-top: 0.3rem;
    line-height: 2rem;
    @include tablet {
      line-height: 2.2rem;
    }
  }

  &__info-2 {
    line-height: 0.2rem;
    @include tablet {
      padding-bottom: 0.5rem;
    }
  }

  &__email {
    color: $primary-color3;
    line-height: 4rem;
    @include tablet {
      padding-bottom: 1rem;
    }
  }
}

.bandsite__logo {
  display: flex;
  width: 100%;
  padding-top: 1.7rem;

  @include tablet {
    display: none;
  }

  &--image {
    height: 1.2rem;
  }
}

.copyright {
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 0.7rem;
  padding-bottom: 1rem;

  @include tablet {
    font-size: 0.9rem;
  }

  @include desktop {
    display: flex;
    align-items: flex-end;
    margin-right: 30rem;
    padding-bottom: 1.2rem;
  }
}
