@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/font/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/font/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/font/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/font/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/font/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/font/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: AvenirNext LT Pro;
}

body {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.nav {
  background-color: #323232;
  width: 100%;
  padding-top: 1rem;
  max-width: 100vw;
}
.nav__logo-link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1.2rem;
}
.nav__logo-image {
  width: 100%;
}
.nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.nav__list-link {
  color: #e1e1e1;
  font-size: 0.8rem;
  font-weight: 400;
  width: 100%;
  height: 100%;
}
.nav__list-link:hover {
  color: #ffffff;
  width: 50%;
}
.nav__list-item {
  width: 50%;
  text-align: center;
}
.nav__list-item--highlight, .nav__list-item:hover {
  border-bottom: #fff 0.2rem solid;
}
.nav__list-link--highlight {
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 600;
}

.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(50, 50, 50, 0.4);
  height: 11.8rem;
  max-width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}
.hero__title {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 600;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  max-width: 100vw;
  color: #323232;
}
.about__box {
  display: flex;
  flex-direction: column;
}
.about__title {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.about__image {
  width: 100%;
  height: 9.7rem;
}
.about__quote, .about__author {
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-weight: 600;
  padding-top: 0.9rem;
}
.about__author {
  padding-top: 0.2rem;
}

.info__title {
  font-size: 0.8rem;
  font-weight: 600;
  padding-top: 1rem;
}
.info__paragraph-1, .info__paragraph-2 {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2rem;
  padding-top: 0.4rem;
}
.info__paragraph-1 {
  padding-bottom: 0.5rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  color: #323232;
  background-color: #fafafa;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.gallery__title {
  font-size: 1.5rem;
  font-weight: 600;
}
.gallery__image {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.footer {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #323232;
  color: #ffffff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  gap: 1rem;
}
.footer__title {
  font-size: 1.5rem;
  font-weight: 600;
}
.footer__logos {
  display: flex;
  gap: 1.8rem;
  padding-bottom: 0.6rem;
}
.footer__icons {
  height: 22px;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer__person {
  font-weight: 400;
  font-size: 0.8rem;
}
.footer__person-name {
  font-weight: 600;
  line-height: 0.2rem;
}
.footer__person-company {
  font-weight: 600;
}
.footer__info-1 {
  padding-top: 0.3rem;
  line-height: 2rem;
}
.footer__info-2 {
  line-height: 0.2rem;
}
.footer__email {
  line-height: 4rem;
}

.bandsite__logo {
  display: flex;
  width: 100%;
  padding-top: 1.7rem;
}
.bandsite__logo--image {
  height: 1.2rem;
}

.copyright {
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 0.7rem;
  padding-bottom: 1rem;
}/*# sourceMappingURL=main.css.map */