@use "./partials/variables" as *;
@use "./partials/mixin" as *;
@use "./partials/fonts" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: AvenirNext LT Pro;
}

body {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.nav {
  background-color: $primary-color1;
  width: 100%;
  padding-top: 2rem;
  max-width: 100vw;

  &__logo-link {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1rem;
  }

  &__logo-image {
    width: 100%;
  }

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  &__list-link {
    color: $primary-color2;
    font-size: 1.7rem;
    font-weight: 400;
    width: 100%;
  }

  &__list-item {
    width: 50%;
    text-align: center;

    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__list-item--highlight {
    border-bottom: #fff 0.4rem solid;
  }

  &__list-link--highlight {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 600;
  }
}

.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba($color: #323232, $alpha: 0.4);
  height: 24.2rem;
  max-width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;

  &__title {
    color: $primary-color3;
    font-size: 3rem;
    line-height: 32px;
    font-weight: 600;
  }
}

.about {
  display: flex;
  flex-direction: column;
  padding-top: 3.9rem;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 100vw;
  color: $primary-color1;

  &__box {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 3.2rem;
    font-weight: 600;
    padding-bottom: 2.5rem;
  }

  &__image {
    width: 100%;
    height: 20.9rem;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  max-width: 100vw;

  &__image {
    margin: 1rem 0.5rem;
  }
}

.footer {
  max-width: 100vw;
}
