@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/font/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/font/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/font/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/font/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/font/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/font/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: AvenirNext LT Pro;
}

body {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.nav {
  background-color: #323232;
  width: 100%;
  padding-top: 1rem;
  max-width: 100vw;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    padding-left: 7.9rem;
    padding-top: 1.4rem;
  }
}
.nav__logo-link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1.2rem;
}
@media screen and (min-width: 768px) {
  .nav__logo-link {
    width: 30%;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__logo-link {
    width: 10%;
    margin-bottom: 1.5rem;
  }
}
.nav__logo-image {
  width: 100%;
}
.nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .nav__list {
    width: 30%;
  }
}
@media screen and (min-width: 1280px) {
  .nav__list {
    justify-content: center;
    width: 23%;
  }
}
.nav__list-link {
  color: #e1e1e1;
  font-size: 0.8rem;
  font-weight: 400;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .nav__list-link {
    font-size: 0.9rem;
  }
}
.nav__list-link:hover {
  color: #ffffff;
  width: 50%;
}
.nav__list-item {
  width: 50%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .nav__list-item {
    padding-bottom: 1rem;
    width: 30%;
  }
}
@media screen and (min-width: 1280px) {
  .nav__list-item {
    padding-bottom: 1.5rem;
  }
}
.nav__list-item--highlight, .nav__list-item:hover {
  border-bottom: #fff 0.2rem solid;
}
.nav__list-link--highlight {
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .nav__list-link--highlight {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__list-link--highlight {
    padding-right: 1rem;
  }
}

.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(50, 50, 50, 0.4);
  height: 11.8rem;
  max-width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 28.1rem;
    padding-left: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 39.5rem;
    padding-left: 7.9rem;
  }
}
.hero__title {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.5rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  max-width: 100vw;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 2.5rem;
    gap: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding-left: 7.9rem;
    padding-right: 7.9rem;
  }
}
.about__box {
  display: flex;
  flex-direction: column;
}
.about__title {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 2.2rem;
    padding-bottom: 1.9rem;
  }
}
.about__image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__image {
    width: 85%;
    height: 19rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 1280px) {
  .about__image {
    height: 28.2rem;
    width: 75%;
    margin-right: 5.5rem;
  }
}
@media screen and (min-width: 768px) {
  .about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
.about__quote, .about__author {
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-weight: 600;
  padding-top: 0.4rem;
}
@media screen and (min-width: 768px) {
  .about__quote, .about__author {
    margin-left: 4.2rem;
    margin-right: 4.2rem;
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__quote, .about__author {
    margin-left: 5.2rem;
    margin-right: 20.5rem;
    padding-top: 1.2rem;
    line-height: 1.8rem;
  }
}
.about__author {
  padding-top: 0.2rem;
}
@media screen and (min-width: 768px) {
  .about__author {
    font-size: 1rem;
    align-self: flex-start;
    line-height: 0.3rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__author {
    padding-top: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .info {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .info {
    margin-left: 3rem;
    margin-right: 7rem;
    padding-right: 0;
  }
}
.info__title {
  font-size: 0.8rem;
  font-weight: 600;
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .info__title {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .info__story {
    display: flex;
    flex-direction: row;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .info__story {
    margin: 0;
    justify-content: space-evenly;
  }
}
.info__paragraph-1, .info__paragraph-2 {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2rem;
  padding-top: 0.4rem;
}
@media screen and (min-width: 768px) {
  .info__paragraph-1, .info__paragraph-2 {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .info__paragraph-1, .info__paragraph-2 {
    line-height: 1.4rem;
    font-size: 0.9rem;
  }
}
.info__paragraph-1 {
  padding-bottom: 0.4rem;
}
@media screen and (min-width: 768px) {
  .info__paragraph-1 {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .info__paragraph-2 {
    padding-left: 1rem;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  color: #323232;
  background-color: #fafafa;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-left: 2.5rem;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding-left: 7.9rem;
    padding-right: 7.9rem;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .gallery__container {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
  }
}
.gallery__title {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    font-size: 2.2rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__title {
    margin-left: 0.5rem;
    padding-bottom: 2.3rem;
  }
}
.gallery__image {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  width: 100%;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    width: 30%;
    margin: 0.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__image {
    width: 31%;
  }
}
.gallery__image:hover {
  filter: grayscale(0%);
}

.comments {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: #323232;
}
.comments__title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 0.5rem;
}
.comments__box {
  display: flex;
}
.comments__avatar {
  flex: 1;
  padding-top: 2rem;
}
.comments__image {
  width: 36px;
  height: 34px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
.comments__form {
  display: flex;
  flex-direction: column;
  flex: 3;
}
.comments__label {
  color: #afafaf;
  font-size: 0.6rem;
  font-weight: 600;
  text-transform: uppercase;
}
.comments__text {
  background-color: #fafafa;
  border: solid #e1e1e1;
  border-radius: 5px;
  padding: 0.5rem;
}
.comments__btn {
  background-color: #323232;
  color: #ffffff;
  width: 100%;
  height: 2.3rem;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  border-style: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

::-moz-placeholder {
  color: #323232;
}

:-ms-input-placeholder {
  color: #323232;
}

::placeholder {
  color: #323232;
}

.opinions {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  line-height: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.opinions__list {
  list-style: none;
}
.opinions__item {
  border-top: 1px solid #e1e1e1;
}
.opinions__box {
  display: flex;
  flex-direction: row;
}
.opinions__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.opinions__avatar {
  flex: 1;
}
.opinions__image {
  width: 36px;
  height: 34px;
  border-radius: 50%;
  background-color: green;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
.opinions__info {
  flex: 3;
}
.opinions__name {
  font-weight: 600;
}
.opinions__date {
  font-weight: 400;
}
.opinions__text {
  font-weight: 400;
}

.footer {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #323232;
  color: #ffffff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 3rem;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-left: 7.9rem;
    padding-right: 7.9rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 1rem;
  }
}
.footer__logo {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    display: flex;
    justify-self: flex-end;
    margin-left: auto;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    margin-left: 34rem;
  }
}
.footer__title {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 2.1rem;
  }
}
.footer__logos {
  display: flex;
  gap: 1.8rem;
  padding-bottom: 0.6rem;
}
.footer__icons {
  height: 22px;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    flex-direction: row;
    gap: 1.3rem;
    padding-top: 1.5rem;
  }
}
.footer__person {
  font-weight: 400;
  font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
  .footer__person {
    font-size: 0.9rem;
  }
}
.footer__person-name {
  font-weight: 600;
  line-height: 0.2rem;
}
@media screen and (min-width: 768px) {
  .footer__person-name {
    line-height: 0.4rem;
  }
}
.footer__person-company {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .footer__person-company {
    padding-bottom: 0.5rem;
  }
}
.footer__info-1 {
  padding-top: 0.3rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__info-1 {
    line-height: 2.2rem;
  }
}
.footer__info-2 {
  line-height: 0.2rem;
}
@media screen and (min-width: 768px) {
  .footer__info-2 {
    padding-bottom: 0.5rem;
  }
}
.footer__email {
  color: #ffffff;
  line-height: 4rem;
}
@media screen and (min-width: 768px) {
  .footer__email {
    padding-bottom: 1rem;
  }
}

.bandsite__logo {
  display: flex;
  width: 100%;
  padding-top: 1.7rem;
}
@media screen and (min-width: 768px) {
  .bandsite__logo {
    display: none;
  }
}
.bandsite__logo--image {
  height: 1.2rem;
}

.copyright {
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 0.7rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .copyright {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .copyright {
    display: flex;
    align-items: flex-end;
    margin-right: 30rem;
    padding-bottom: 1.2rem;
  }
}/*# sourceMappingURL=main.css.map */