@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/font/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/font/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/font/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/font/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/font/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/font/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: AvenirNext LT Pro;
}

body {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.nav {
  background-color: #323232;
  width: 100%;
  padding-top: 1rem;
  max-width: 100vw;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    padding-left: 7.9rem;
    padding-top: 1.4rem;
  }
}
.nav__logo-link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1.2rem;
}
@media screen and (min-width: 768px) {
  .nav__logo-link {
    width: 30%;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__logo-link {
    width: 10%;
    margin-bottom: 1.5rem;
  }
}
.nav__logo-image {
  width: 100%;
}
.nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .nav__list {
    width: 30%;
  }
}
@media screen and (min-width: 1280px) {
  .nav__list {
    justify-content: center;
    width: 23%;
  }
}
.nav__list-link {
  color: #e1e1e1;
  font-size: 0.8rem;
  font-weight: 400;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .nav__list-link {
    font-size: 0.9rem;
  }
}
.nav__list-link:hover {
  color: #ffffff;
  width: 50%;
}
.nav__list-item {
  width: 50%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .nav__list-item {
    padding-bottom: 1rem;
    width: 30%;
  }
}
@media screen and (min-width: 1280px) {
  .nav__list-item {
    padding-bottom: 1.5rem;
    width: 50%;
  }
}
.nav__list-item--highlight, .nav__list-item:hover {
  border-bottom: #fff 0.2rem solid;
  width: 50%;
}
@media screen and (min-width: 768px) {
  .nav__list-item--highlight, .nav__list-item:hover {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (min-width: 1280px) {
  .nav__list-item--highlight, .nav__list-item:hover {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.nav__list-link--highlight {
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .nav__list-link--highlight {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__list-link--highlight {
    padding-right: 1rem;
  }
}

.hero {
  background-image: url(../assets/Images/hero-shows.jpg);
  height: 17rem;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Images/hero-shows.jpg) center/cover;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 0.9rem;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 30.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-left: 7rem;
    height: 39.4rem;
  }
}
.hero__album {
  font-size: 0.9rem;
  font-weight: 400;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero__album {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
.hero__box {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .hero__box {
    gap: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__box {
    flex-direction: row;
    align-items: center;
    gap: 10rem;
  }
}
.hero__song {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  width: 75%;
}
@media screen and (min-width: 768px) {
  .hero__song {
    font-size: 3.7rem;
    line-height: 3.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__song {
    width: 40%;
  }
}
.hero__player {
  width: 99%;
  height: 7rem;
}
@media screen and (min-width: 768px) {
  .hero__player {
    margin-top: 2rem;
    width: 59%;
    height: 8.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__player {
    width: 35%;
  }
}

.schedule {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .schedule {
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .schedule {
    display: flex;
  }
}
.schedule__title {
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  line-height: 0.8rem;
}
@media screen and (min-width: 768px) {
  .schedule__title {
    font-size: 2.2rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .schedule__title {
    flex: 1;
  }
}
@media screen and (min-width: 1280px) {
  .schedule__container {
    flex: 3;
  }
}
.schedule__main {
  color: #afafaf;
  font-size: 0.6rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 1rem;
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .schedule__main {
    display: none;
  }
}
.schedule__container--tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .schedule__container--tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
  }
}
.schedule__main--tablet {
  color: #afafaf;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 1rem;
  padding-top: 0.5rem;
  width: 23%;
}
.schedule__secondary {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.7rem;
  width: 160px;
}
@media screen and (min-width: 768px) {
  .schedule__secondary {
    font-size: 0.9rem;
  }
}
.schedule__secondary--bold {
  font-size: 0.8rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .schedule__secondary--bold {
    font-size: 0.9rem;
  }
}
.schedule__item {
  border-bottom: 1px solid #e1e1e1;
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .schedule__item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
.schedule__item:hover {
  background-color: #fafafa;
}
.schedule__info {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .schedule__info {
    flex-direction: row;
    align-items: baseline;
    gap: 5%;
    justify-content: space-between;
    width: 100%;
  }
}
.schedule__btn {
  background-color: #323232;
  color: #ffffff;
  width: 98%;
  height: 2.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  border-style: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .schedule__btn {
    width: 23%;
  }
}

.selected {
  background-color: #e1e1e1;
}
.selected:hover {
  background-color: #e1e1e1;
}

.dummy {
  width: 24%;
}

.footer {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #323232;
  color: #ffffff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 3rem;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-left: 7.9rem;
    padding-right: 7.9rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 1rem;
  }
}
.footer__logo {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    display: flex;
    justify-self: flex-end;
    margin-left: auto;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    margin-left: 34rem;
  }
}
.footer__title {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 2.1rem;
  }
}
.footer__logos {
  display: flex;
  gap: 1.8rem;
  padding-bottom: 0.6rem;
}
.footer__icons {
  height: 22px;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    flex-direction: row;
    gap: 1.3rem;
    padding-top: 1.5rem;
  }
}
.footer__person {
  font-weight: 400;
  font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
  .footer__person {
    font-size: 0.9rem;
  }
}
.footer__person-name {
  font-weight: 600;
  line-height: 0.2rem;
}
@media screen and (min-width: 768px) {
  .footer__person-name {
    line-height: 0.4rem;
  }
}
.footer__person-company {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .footer__person-company {
    padding-bottom: 0.5rem;
  }
}
.footer__info-1 {
  padding-top: 0.3rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__info-1 {
    line-height: 2.2rem;
  }
}
.footer__info-2 {
  line-height: 0.2rem;
}
@media screen and (min-width: 768px) {
  .footer__info-2 {
    padding-bottom: 0.5rem;
  }
}
.footer__email {
  color: #ffffff;
  line-height: 4rem;
}
@media screen and (min-width: 768px) {
  .footer__email {
    padding-bottom: 1rem;
  }
}

.bandsite__logo {
  display: flex;
  width: 100%;
  padding-top: 1.7rem;
}
@media screen and (min-width: 768px) {
  .bandsite__logo {
    display: none;
  }
}
.bandsite__logo--image {
  height: 1.2rem;
}

.copyright {
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 0.7rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .copyright {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .copyright {
    display: flex;
    align-items: flex-end;
    margin-right: 30rem;
    padding-bottom: 1.2rem;
  }
}/*# sourceMappingURL=shows.css.map */